{% extends "admin/base.html" %}
{% block title %}Add Project{% endblock %}
{% block head %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='/css/admin/admin_forms.css') }}">
{% endblock %}
{% block content %}
<section id="add-project" class="admin-form-section">
  <h2>Add New Project</h2>
  <form
    action="{{ url_for('add_project') }}"
    method="POST"
    enctype="multipart/form-data"
    class="admin-form">

    <input type="text" name="title" placeholder="Project Title" required>

    <textarea
      name="description"
      placeholder="Project Description"
      required></textarea>

    <input
      type="text"
      name="tech_stack"
      placeholder="Tech stack (comma separated)"
      required>

    <input type="url" name="github_url" placeholder="GitHub URL">
    <input type="url" name="live_url" placeholder="Live Demo URL">
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">Add Project</button>
  </form>
</section>

<section class="admin-list-section">
  <h2>Manage Projects</h2>
  {% for project in projects %}
  <div class="admin-list-item">
    <strong>{{ project.title }}</strong>
    <div class="admin-actions">
      <form method="POST"
        action="{{ url_for('edit_project', project_id=project._id) }}"
        onsubmit="return confirm('Edit this certificate?');">
        <input type="hidden">
        <button class="btn">Edit</button>
      </form>
      <form method="POST"
        action="{{ url_for('delete_project', project_id=project._id) }}"
        onsubmit="return confirm('Delete this project?');">
        <input type="hidden">
        <button class="danger-btn">Delete</button>
      </form>
    </div>
  </div>
  {% else %}
  <p>No projects found.</p>
  {% endfor %}
</section>
{% endblock %}