<section class="hero" id="home" data-aos="fade-up" data-aos-duration="1500">
    <div class="hero-head">
        <div class="hero-text">
            <h6>I Build things where,</h6>
            <h1>Machine Learning meets<span> Web Applications</span></h1>
            <p>Code is my canvas, logic is my fuel.</p>
            <p>Full-stack explorer. Python whisperer.</p>
            <p>Training models, crafting UI, and chasing clean architecture.</p>
            <h2>And I'm a <span class="text"></span></h2>
        </div>

        <div class="image-wrapper" data-aos="zoom-in" data-aos-duration="1500">
            <div class="blob"></div>
            <!-- Lottie Animation -->
            <div class="animation-wrapper">
                <lottie-player
                    src="{{ url_for('static', filename='assets/images/profile/Webdesign.json') }}"
                    background="transparent"
                    speed="0.75"
                    loop
                    autoplay>
                </lottie-player>
            </div>
        </div>
    </div>
    <div class="hero-tail">
        <!-- Buttons : View my work and download -->
        <div class="hero-buttons">
            <a href="#projects" class="btn-primary">View My Work</a>
            <a href="{{ url_for('static', filename='assets/resume.pdf') }}"
                class="btn-secondary">Download CV</a>
        </div>
        <!-- Social Links (Icons) -->
        <div class="social-links">
            <a
                href="https://www.linkedin.com/in/atharva-bhosale-7471abc"
                target="_blank"
                aria-label="LinkedIn">
                <i class="bi bi-linkedin"></i>
            </a>
            <a
                href="https://github.com/atharva7471"
                target="_blank"
                aria-label="GitHub">
                <i class="bi bi-github"></i>
            </a>
            <a
                href="https://mail.google.com/mail/?view=cm&fs=1&to=atharva7471@gmail.com"
                target="_blank"
                aria-label="Email">
                <i class="bi bi-envelope-fill"></i>
            </a>
            <a
                href="https://www.instagram.com/atharva_7471/"
                target="_blank"
                aria-label="Instagram">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </div>
</section>
