<section class="about" id="about" data-aos="fade" data-aos-duration="1500">
    <h1 class="section-title">About Me</h1>
    <div class="about-text">
        <h3>Hello I'm Atharva Bhosale</h3>
        <p>
            A passionate Machine Learning Engineer and Full Stack Developer with
            a
            strong foundation in AI, data science, and modern web technologies.
            I
            specialize in building intelligent, data-driven solutions — from
            training robust ML models to deploying them into seamless, scalable
            applications. My journey in tech is powered by curiosity,
            problem-solving, and a drive to create impactful projects that blend
            innovation with real-world usability. I thrive in collaborative,
            fast-paced environments and am always eager to explore new tools,
            algorithms, and ideas that push boundaries.
        </p>
    </div>

    <div class="education">
        <h1 class="section-title">Education</h1>
        <div class="edu-container">
            <div class="edu-card">
                <i class="bi bi-book-half"></i>
                <h4>Rambhau Parulekar Vidyaniketan</h4>
                <p>Class 10th SSC</p>
                <p class="edu-date">June 2020 - March 2021</p>
                <span class="edu-score">84.44%</span>
            </div>

            <div class="edu-card">
                <i class="bi bi-backpack2-fill"></i>
                <h4>Indrayani Junior College</h4>
                <p>Class 12th CET</p>
                <p class="edu-date">June 2022 - March 2023</p>
                <span class="edu-score">82.44%</span>
            </div>

            <div class="edu-card">
                <i class="bi bi-clipboard-fill"></i>
                <h4>International School of Business & Media</h4>
                <p>B.E in AI & ML (SPPU)</p>
                <p class="edu-date">June 2023 - Present</p>
                <span class="edu-score">CGPA: 9.00/10</span>
            </div>
        </div>
    </div>
</section>

<section class="arsenal" id="skills" data-aos="fade"
    data-aos-duration="1500">
    <h1 class="section-title">My Tech Arsenal</h1>
    <!-- Languages -->
    <div class="arsenal-category">
        <h2>Languages</h2>
        <div class="skills-grid">
            <div class="skill-card lang">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/python.svg') }}"
                    alt="Python" />
                <p>Python</p>
            </div>
            <div class="skill-card lang">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/java.svg') }}"
                    alt="Java" />
                <p>Java</p>
            </div>
            <div class="skill-card lang">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/javascript.svg') }}"
                    alt="JavaScript" />
                <p>JavaScript</p>
            </div>
            <div class="skill-card lang">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/html.svg') }}"
                    alt="HTML" />
                <p>HTML</p>
            </div>
            <div class="skill-card lang">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/css.svg') }}"
                    alt="CSS" />
                <p>CSS</p>
            </div>
        </div>
    </div>

    <!-- Frameworks -->
    <div class="arsenal-category">
        <h2>Frameworks & Libraries</h2>
        <div class="skills-grid">
            <div class="skill-card frame">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/panda.svg') }}"
                    alt="Pandas" />
                <p>Pandas</p>
            </div>
            <div class="skill-card frame">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/numpy.svg') }}"
                    alt="NumPy" />
                <p>NumPy</p>
            </div>
            <div class="skill-card frame">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/matplotlib.svg') }}"
                    alt="Matplotlib" />
                <p>Matplotlib</p>
            </div>
            <div class="skill-card frame">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/scikitlearn.svg') }}"
                    alt="Scikit-learn" />
                <p>Scikit-learn</p>
            </div>
            <div class="skill-card frame">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/tensorflow.svg') }}"
                    alt="TensorFlow" />
                <p>TensorFlow</p>
            </div>
        </div>
    </div>

    <!-- Tools -->
    <div class="arsenal-category">
        <h2>Tools & Platforms</h2>
        <div class="skills-grid">
            <div class="skill-card tool">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/code.svg') }}"
                    alt="VS Code" />
                <p>VS Code</p>
            </div>
            <div class="skill-card tool">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/github.svg') }}"
                    alt="GitHub" />
                <p>Git & GitHub</p>
            </div>
            <div class="skill-card tool">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/kaggle.svg') }}"
                    alt="Kaggle" />
                <p>Kaggle</p>
            </div>
            <div class="skill-card tool">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/googlecolab.svg') }}"
                    alt="Google Colab" />
                <p>Google Colab</p>
            </div>
            <div class="skill-card tool">
                <img
                    src="{{ url_for('static', filename='assets/images/skills/database.svg') }}"
                    alt="MongoDB" />
                <p>MongoDB</p>
            </div>
        </div>
    </div>
</section>